<h1>Welcome to the Name Game!</h1>
<%= form_with url: '/', method: :get, local: true do |form| %>
  <%= form.text_field :search, placeholder: 'Find a movie', value: @searchParam %>

  <%= form.submit 'Search' %>
<% end %>

<% if @search %>
  <%= render partial: 'posters', locals: { movies: @search } %>
<% end %>

<h2>Recently added movies</h2>
<%= render partial: 'posters', locals: { movies: Movie.order('updated_at DESC').all } %>

<h2>Most played movies</h2>
<%= render partial: 'posters', locals: { movies: Movie.order('playcount DESC').all } %>
