<section id='play'>
  <div class='play--inner'>
    <%= link_to 'Play', play_path(random_movie.id) %>
    <%= form_with url: '/', method: :get, local: true, class: 'search' do |form| %>
      <%= form.text_field :search, placeholder: 'Search for a movie', value: @searchParam, autocomplete: 'off' %>
      <%= form.submit ' ' %>
    <% end %>
  </div>

  <div class='marquee--wrapper'>
    <div id='marquee'>
      <div class='marquee--inner'>
        <% (0..1).each do %>
          <ul>
            <% @marqueeTop.each do |poster_path| %>
              <li><%= image_tag poster_url(poster_path), draggable: false %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class='marquee--inner reverse'>
        <% (0..1).each do %>
          <ul>
            <% @marqueeBottom.each do |poster_path| %>
              <li><%= image_tag poster_url(poster_path), draggable: false %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class='marquee--overlay'></div>
  </div>
</section>

<section id='browse-posters'>
  <% if @search %>
    <div>
      <h2>Search Results</h2>
      <%= render partial: 'posters', locals: { movies: @search } %>
    </div>
  <% end %>
  <div>
    <h2>Recently played</h2>
    <%= render partial: 'posters', locals: { movies: Movie.order('updated_at DESC').all } %>
  </div>
  <div>
    <h2>Most played</h2>
    <%= render partial: 'posters', locals: { movies: Movie.order('playcount DESC').all } %>
  </div>
  <div>
    <h2>Recently added</h2>
    <%= render partial: 'posters', locals: { movies: Movie.order('created_at DESC').all } %>
  </div>
</section>
