<% title @movie.title %>

<header>
  <%= link_to '', root_path, class: 'back' %>
  <%= link_to movie_url(@movie.id), target: '_blank', class: 'movie-page' do %>
    <%= image_tag poster_url(@movie.poster_path) %>
  <% end %>

  <h1><%= @movie.title %></h1>
  <%= link_to play_path(random_movie.id), class: 'skip-movie' do %>
    <span>Skip Movie</span>
  <% end %>
</header>

<div id='game'>
  <%= hidden_field_tag 'movieid', @movie.id, { id: 'movieid' } %>
  <%= hidden_field_tag 'average', @movie.average, { id: 'average' } %>
  <ul class='actor-posters'>
    <% @movie.cast.shuffle.each do |actor| %>
      <li class='actor' data-key=<%= actor.order %>>
        <%= image_tag poster_url(actor.profile_path), draggable: false %>
        <div class='answer-slot'></div>
      </li>
    <% end %>
  </ul>

  <section class='answer-pool'>
    <% @movie.cast.shuffle.each do |actor| %>
      <div class='answer' data-key=<%= actor.order %>>
        <%= actor.name %>
      </div>
    <% end %>
    <button class='submit hidden'>Submit</button>
  </section>

  <section class='results hidden'>
    <p>
      <span class='score-text'>You got </span>
      <span class='score'>0/5</span>
      <span class='score-text'> correct!</span>
    </p>

    <nav>
      <%= link_to 'Try again', url_for, class: 'retry' %>
      <%= link_to 'Try another', play_path(random_movie.id), class: 'another' %>
    </nav>
  </section>
</div>
<section id='browse-posters'>
  <div>
    <h2>More movies</h2>
    <%= render partial: 'posters', locals: { movies: Movie.order('RANDOM()').all } %>
  </div>
</section>
