<% title @movie.title %>

<%= link_to 'Back', root_path %>

<div id='namegame'>
  <h1>
    <!-- <%= image_tag 'https://image.tmdb.org/t/p/w300' + @movie.poster_path %> -->
    <%= @movie.title %>
  </h1>

  <ul class='actor-posters'>
    <% @movie.cast.each do |actor| %>
      <li class='actor'>
        <%= image_tag 'https://image.tmdb.org/t/p/w500' + actor.profile_path %>
      </li>
    <% end %>
  </ul>

  <section class='answer-pool'>
    <% @names.each do |e| %>
      <div class='answer'><%= e[:name] %></div>
    <% end %>
  </section>
</div>
