<% title @movie.title %>

<div id='namegame'>
  <header>
    <%= link_to 'Back', root_path %>

  <h1>
    <%= image_tag 'https://image.tmdb.org/t/p/w300' + @movie.poster_path %>
    <%= @movie.title %>
  </h1>
</header>

  <ul class='actor-posters'>
    <% @movie.cast.each do |actor| %>
      <li class='actor'>
        <%= image_tag 'https://image.tmdb.org/t/p/w500' + actor.profile_path, draggable: false %>
        <div class='answer-slot'></div>
      </li>
    <% end %>
  </ul>

  <section class='answer-pool'>
    <% @names.each do |e| %>
      <div class='answer' data-key=<%= e[:idx] %>>
        <%= e[:name] %>
      </div>
    <% end %>
    <button class='submit hidden'>Submit Answers</button>
  </section>

  <section class='results hidden'>
    <p>You scored <span class='score'></span>!</p>
    <%= link_to 'Try again', url_for %>
    <%= link_to 'Try another', play_path(random_movie.id) %>
    <!-- <%= link_to 'Return to home', root_path %> -->
  </section>
</div>
